@import 'variables';
@import 'media';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
    @include tablet{
        font-size: 24px;
    }
    @include desktop{
        font-size: 28px;
    }
    @include maxHeight{
        font-size: 15px;
    }
}
.container{
    padding: 0 1% 0 0;
    width: 100vw;
    max-width: 1900px;
}
header, nav, main, section, footer{
    width: 100vw;
    margin: 0 auto;
}
header, nav{
    height: 15vh;
    background-color: white;
    position: relative; //no fixed !
    z-index: 8;
    display: flex;
    align-content: center;
    align-items: center;
}

/* HEADER */
.author{
    flex-grow: 1;
    padding: 1%;
    margin-left: 3%;
    display: inline-block;
    width: 30vw;
    .largeText{
        font-size: 1.5rem;
        font-weight: bold;
        color: #22a389;
        margin-top: 2%;
        margin-bottom: 0;
    }
}
.hamburgerMenu{
    position: absolute;
    right: 80px;
    @include tablet{
        display: none;
    }
    .hamburgerItem{
        width: 70px;
        height: 10px;
        border: 2px solid black;
        background-color: grey;
        border-radius: 10%;
        margin: 2px;
        display: block;
    }
}
ul.hamburgerList{
    display: block;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: 900;
    @include tablet{
        display: none;
    }
    li{
        display: block;
        margin-left: 8%;
        font-size: 0.8rem;
        a{
            text-decoration: none;
            color: orangered;
        }
    }
}
ul.menuList{
    display: none;
    height: 15vh;
    //width: 65vw; removed due to media
    flex-grow: 1;
    margin-top: 10vh;
    @include tablet{
        display: block;
    }
    li{
        display: inline-block;
        margin-left: 5%;
        a{
            text-decoration: none;
            color: black;
        }
    }
} 
/* FOOTER */
footer{
    background-color: black;
    display: flex;
    font-size: 0.9rem;
}
.social-icons{
    width: 40vw;
    padding: 5px 10px;
    margin: 0;
    img.icons{
        display: inline-block;
        border-radius: 40%;
        width: 30px;
        height: 30px;
        @include maxHeight{
            width: 20px;
            height: 20px;
        }
    }
    @include maxHeight{
        padding: 0px 10px;
    }
}
.inf-bottom{
    color: white;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    margin: 0;
}
/* MAIN */
section{
    height: 85vh;
    border-top: 2px dotted grey;
    border-bottom: 2px dotted grey;
}

/* INFORMATION */
.section-information{
    width: 100vw;
    background-image: url(../pictures/working.jpg);
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    .author-text{
        margin-top: 40vh;
        padding: 5vh 10vw;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
        p{
            background-color: #22a389;
            box-shadow: -10px -10px 25px #795548;
            border-radius: 1em;
            color: white;
            padding: 5px;
        }
    }
}

/* EDUCATION */
.section-edu{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    p{
        font-size: 0.8rem;
        @include desktop{
            display: inline-block;
        }
        @include landscape{
            display: inline-block;
        } 
    }
    img{
        @include desktop{
            display: inline-block;
            margin-left: 10%;
        }
        @include landscape{
           display: inline-block;
            margin-left: 10%;
        } 
    }
}
.one{
    width: 90vw;
    height: 13vh;
    margin-left: 5%;
    padding: 2%;
    border-top: 1px dashed white;
    span{
        color: #22a389;
        margin-top: 2%;
        display: block;
        @include desktop{
            margin-top: 0;
        }
        @include landscape{
            margin-top: 0;
        } 
    }
}
.oneThree{
    flex-grow: 1;
    width: 90vw;
    margin-left: 5%;
    padding: 2%;
    border-top: 1px dashed white;
    @include landscape{
        padding: 0.5%;
    }
    img{
        margin-top: 2%;
    }
}
.codersLab{
    width: 200px;
    height: 60px;
    margin-left: 10%;
    @include desktop{
        width: 250px;
        height: 70px;
    }
    @include maxHeight{
        width: 150px;
        height: 40px;
    }
}
.pwr, .ue{
    height: 60px;
    width: 50px;
    margin-left: 30%;
    @include tablet(){
        height: 70px;
    }
    @include desktop(){
        height: 90px;
        width: 60px;
    }
    @include maxHeight{
        height: 50px;
        width: 35px;
    }
}

/* SKILLS */
.section-skills{
    background-image: url(../pictures/screen.png);
    background-size: cover;
    padding: 3%;
    @include landscape{
         padding: 0;
    }
    .text{
        padding-left: 20%;
        margin-top: 5%;
        color: black;
    }
    .programming{
        height: 50%;
        width: 80vw;
        margin: 0 auto;
    }
    .otherSkills{
        height: 10%;
        width: 85vw;
        margin: 0 auto;
    }
}
p.school{
    margin-left: 20vw;
    margin-top: 7vh;
    display: block;
    border-bottom: 2px dotted grey;
}
.programming, .otherSkills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    div{
        width: 80px;
        height: 80px;
        border: 2px solid black;
        background-color: #22a389;
        color: white;
        border-radius: 50%;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin: 1%;
        animation: moveSkills 3s infinite alternate;
        @include desktop{
            width:100px;
            height:100px;
            font-size: 20px;
        }
        @include bigDesktop{
            width:120px;
            height:120px;
            font-size: 23px;
        }
        @include maxDesktop{
            width:150px;
            height:150px;
            font-size: 25px;
        }
        @include maxHeight{
            width:70px;
            height:70px;
            font-size: 12px;
        }
        p{
            margin-top:35%;
        }
    }
}
@keyframes moveSkills{
    0%{
        transform: rotate(20deg);
        background-color: #22a389;
    }
    100%{
        transform: rotate(-20deg);
         background-color: grey;
    }
}

/* CONTACT */
.section-contact{
    width: 100vw;
    height: 80vh;
    background-image: url(../pictures/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.contact-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 30vh;
    font-weight: bold;
    color: white;
}
.mail, .telephon{
    font-size: 1.5rem;
}
span.text-animation{
    &:first-child {
        animation: loading_text_animation 2s 0s infinite alternate;
    }
    &:nth-child(2) {
        animation: loading_text_animation 2s 0.4s infinite alternate;
    }
     &:nth-child(3) {
         animation: loading_text_animation 2s 0.8s infinite alternate;
    }
     &:nth-child(4) {
         animation: loading_text_animation 2s 1.2s infinite alternate;
    }
     &:nth-child(5) {
         animation: loading_text_animation 2s 1.6s infinite alternate;
    }
     &:nth-child(6) {
         animation: loading_text_animation 2s 2s infinite alternate;
    }
     &:nth-child(7) {
         animation: loading_text_animation 2s 2.4s infinite alternate;
    }
    
}
@keyframes loading_text_animation{
   0%{
        opacity: 1;
        transform: scale(1.5);
    }
    100%{
        opacity: 0;
    }
}

/* used in js */
.sticky{
    position: fixed;
    top: 0;
}

/* typewriter effect*/
.typewriterContainer{
    display: inline-block;
}
.typewriter{
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
    border-right: 1px solid transparent;
    animation: typewriter_animation 3s steps(26), blink 1s step-end infinite;
}
@keyframes typewriter_animation{
   from{
       width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink{
    50%{
        border-color: blue; 
    }
}

/* loading sign*/
.loader{
    border: 2px dashed blue;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 45vw;
    top: 45vh;
    border-radius: 50%;
    animation: loader_animation 2s linear infinite;
}
@keyframes loader_animation{
    from{
         transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}